@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  gap: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#spiderWeb {
  width: 200px; 
  height: 200px; 
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#spiderWeb.spider-web {
  background-color: transparent;
  background: url('/spider.svg') center center;
  background-size: 100% 100%;
}

.fairy{
  width: 80px;
  position: fixed;
  top: calc(100% + 10px);
  right: 20px;
  pointer-events: none;
  z-index: 3;
}


#fireflyButton {
  position: relative;
  margin-top: 50px;
}

#fireflyButton.firefly {
  &::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background: url('/firefly.svg') center center;
    background-size: 100% 100%;
  }
}


#scrollContainer {
  margin-top: 50px;
  border: 1px solid #ccc;
  width: 200px;
  height: 100px;
  overflow-y: scroll;
}

#scrollContainer > div {
  height: 300px;
}

#creatureDetector {
  margin-top: 50px;
  width: 200px; 
  height: 200px;
   background-color: lightblue;
} 

#creatureDetector > div {
  width: 100px; 
  height: 100px;
   background-color: darkblue;
}

.explorer{
  width: 80px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 3;
}

.tiger{
  width: 80px;
  position: fixed;
  top: 0;
  right: 20px;
  pointer-events: none;
  z-index: 3;
}
